/** app.css */

body {
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased
}
/** tags */
.tags {
    overflow: hidden
}
.tag-item {
    float: left;
    margin: 4px 0 6px 2px;
    padding: 4px
}
.tags a {
    font-weight: 400;
    color: #fff;
    background: #0B70BE;
    border-radius: 2px;
    padding: 4px 5px
}
.tags a:hover,
.tags a:focus {
    text-decoration: none;
    color: #fff;
    background: #C00
}
/** chosen */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding: inherit
}

/** credit */
.credit {
    padding: 10px 0;
    text-align: center;
    color: #999;
    font-size: 10px;
    text-transform: capitalize
}
/** login-form */
.login-form {
    margin-top: 60px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2em 1em;
    overflow: hidden;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1) inset
}
/** bar */
.bar {
    background: #0B70BE;
    height: 3px
}
/** gravatar */
.gravatar {
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    opacity: 1;
    transition: opacity .25s ease-in-out 0;
    width: 20px;
    padding: 2px;
    background: white
}
/** overwrite bootstrap */
.dropdown-menu > li > a { font-size: 11px }
.form-control { font-size: 12px }
.container { margin-bottom: 30px }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #7C40A2;
    border-color: #7C40A2
}
.alert { margin-top: 10px }
.navbar { border-radius: 0 }
label { font-weight: normal }

/** stats */
.stats { color: #c00 }
.stats-gold { color: #FFBF00 }
.stats-gray { color: #999 }

/** message */
.message {
    color: #c00;
    padding: 1em;
    background: #FCF1F1;
    border-radius: 2px
}
.message-success {
    color: #0B70BE;
    background: #E3EFF8
}
.message-white { background: white }

/** widget */
.widget {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2em;
    overflow: hidden;
    box-shadow: 0 -1px 8px #E6DBED inset
}
/** tools */
.tools { text-align: right }
.tools a {
    padding: 0 3px;
    color: #999
}
.tools a:hover {
    color: #7C40A2;
    text-decoration: none
}
/** modal */
.modal {
    background: white;
    width: 340px
}
.modal p {
    overflow: hidden;
}
.modal p span {
    font-weight: normal;
    font-size: 90%;
    display: block;
    float: left;
    margin: 5px 10px 6px 0
}
/** navbar user */
.navbar-user {
    border-color: #6E329D;
    background: #6E329D
}
.navbar-user .navbar-brand,
.navbar-user .navbar-nav > li > a { color: #fff }
.navbar-user .navbar-nav > li > a:hover,
.navbar-user .navbar-nav > li > a:focus { color: #C3AAD6 }