/** app.css */


body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-weight: 400!important;
}
#bar {
    background: #7C40A2;
    overflow: hidden;
    height: 5px;
}
#bar a { color: #fff }
.login-form {
    margin-top: 60px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 1em;
}
.alert { margin-top: 10px }
.navbar { border-radius: 0 }
.modal {
    border: none;
    border-radius: 0;
    display: none;
}
.modal .nav {
    list-style: none;
    overflow: hidden;
}
.gravatar {
    border: 1px solid #ECF0F1;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    opacity: 1;
    transition: opacity .25s ease-in-out 0;
    width: 20px;
}
.chosen-select { width: 100%!important }

/** tags */
.tags { overflow: hidden }
.tag-item {
    float: left;
    margin: 4px 0 6px 2px;
    padding: 4px;
}
.tags a {
    font-weight: 400;
    color: #fff;
    background: #C4A00E;
    border-radius: 2px;
    padding: 4px 5px;
}
.tags a:hover {
    text-decoration: none;
    color: #fff;
    background: #C00;
}
/** minibar */
.user-bar a { color: #fff }
.user-bar a:hover { color: #CDE3F0 }
.chosen-container-multi .chosen-choices li.search-field input[type="text"] { padding: inherit }
/** navigation */
.user-bar  .navbar-inner {
    background-color: #0F76B9;
    background-image: none;
    background-repeat: repeat-x;
    color: #fff;
    border-color: #0F76B9;
    border-radius: 0;
}
.user-bar  .divider-vertical {
    border-left-color: #AFD1E8;
    border-right-color: #0F76B9;
}
.user-bar  .brand,
.user-bar  .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.user-bar  .nav > li > a:hover { color: #CDE3F0 }
/** */
.data {
    border: 0px solid #C6AED8;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 1px 2px #DED1E9;
}

.credit {
    padding:10px 0; text-align: center;
    color: #7C40A2;
    font-size: 10px;
    text-transform: capitalize;
}
