<div class="container">
   <div class="row">

      <div class="col-md-12">
        
        <h3><i class="fa fa-bar-chart-o"></i> Stats</h3>
        
        <div class="widget">
         <table class="table table-hover">
            <tbody>
               <tr>
                  <td style="border: none !important">Subjects</td>
                  <td class="text-right" style="border: none !important">
                     <span class="stats"><?php echo get_stats('subjects')?></span>
                  </td>
               </tr>
               <tr>
                  <td>Students</td>
                  <td class="text-right">
                     <span class="stats"><?php echo get_stats('students')?></span>
                  </td>
                  </td>
               </tr>
            </tbody>
         </table>
         </div>
         
      </div>
      
   </div>
</div>

