<!DOCTYPE html>
<html lang="en">
   <head>
   
      <title> <?php echo app_title ?> </title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<?php echo app_description ?>">
      <meta name="author" content="<?php echo app_author ?>">
      
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' type='text/css'>
      <link rel="shortcut icon" href="<?php echo app_url?>favicon.ico">
      <link rel="stylesheet" href="<?php echo app_url?>css/bootstrap.css">
      <link rel="stylesheet" href="<?php echo app_url?>css/font-awesome.min.css" />
      <link rel="stylesheet" href="<?php echo app_url?>css/animate.min.css" />
      <link rel="stylesheet" href="<?php echo app_url?>lib/chosen/chosen.css" />
      <link rel="stylesheet" href="<?php echo app_url?>lib/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
      <link rel="stylesheet" href="<?php echo app_url?>css/app.css" />
      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      
      <script src="<?php echo app_url?>js/jquery-1.10.2.min.js"></script>
      <script src="<?php echo app_url?>js/bootstrap.min.js"></script>
      <script src="<?php echo app_url?>js/jquery.ajax.delete.js"></script>
      <script src="<?php echo app_url?>lib/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
      <script src="<?php echo app_url?>lib/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
      <script src="<?php echo app_url?>js/app.js"></script>
      
   </head>
   <body>

