<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="well">
            <?php if(isset($_GET['e']) AND @$_GET['e'] == 0) { ?>
            <p style="color:#7C40A2;padding:1em">
               The fields marked with an <strong>*</strong> must be filled in.
            </p>
            <?php } ?>
            <?php if(isset($_GET['e']) AND @$_GET['e'] == 1) { ?>
            <p style="color:#7C40A2;padding:1em">
               Admin information has been changed.
            </p>
            <?php } ?>
            <div class="row">
               <div class="col-md-4">
                  <form role="form" method="post" action="?cmd=profile&amp;action=save">
                     <input type="hidden" name="id" value="<?php echo $result->id ?>" />
                     <input type="hidden" name="password1" value="<?php echo $result->password ?>" />
                     <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" value="<?php echo $result->username ?>" class="form-control" placeholder="">
                     </div>
                     <div class="form-group">
                        <label>Email address</label>
                        <input type="email" name="email" value="<?php echo $result->email ?>" class="form-control" placeholder="">
                     </div>
                     <div class="form-group">
                        <label>Password</label>
                        <input type="email" name="password"  class="form-control" placeholder="">
                     </div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

