<div class="container">
   <div class="row">
   
      <div class="col-md-4">
      
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 0) { ?>
         <p class="message message-white">
            All fields must be filled in.
         </p>
         <?php } ?>
         
         <h3>
            <i class="fa fa-frown-o"></i> Edit Student 
         </h3>
         
         
               <form method="post" role="form" action="?cmd=students&amp;action=edited" class="widget">
                  <input type="hidden" name="id" value="<?php echo $result->id?>">
                  
                  <div class="form-group">
                     <label>Name</label>
                     <input type="text" name="username" class="form-control" value="<?php echo $result->username?>">
                  </div>
                  
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" name="email" class="form-control" value="<?php echo $result->email?>">
                  </div>
                  
            <input type="submit" value="Update Now" class="btn btn-danger pull-right">
         </form>
         
      </div>
      
   </div>
</div>