<div class="container">
   <div class="row">
   
      <div class="col-md-12">

         <?php if(isset($_GET['e']) AND @$_GET['e'] == 1) { ?>
         <p class="message">
                Student is already existed. 
         </p>
         <?php } ?>
         
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 2) { ?>
         <p class="message message-success">
                Student has been successfully added.
         </p>
         <?php } ?>
         
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 3) { ?>
         <p class="message message-success">
            Student has been successfully deleted.
         </p>
         <?php } ?>
         
         <h3>
            <i class="fa fa-meh-o"></i> All Students 
         </h3>
         
         <hr />
         
         <table class="table table-striped">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Added</th>
                  <th class="text-center">Subjects</th>
                  <th></th>
               </tr>
            </thead>
            
            <tbody>
               <?php while($result = $DB->fetchObject($query)){ ?>
               <tr>
                  <td title="<?php echo $result->email?>">
                     <img class="gravatar" src="<?php echo get_gravatar($result->email)?>" alt=""> 
                     <?php echo $result->username?>
                  </td>
                  <td><?php echo humain_date($result->date) ?> ago</td>
                  <td class="text-center">
                     
                     <a href="#" data-toggle="modal" data-target="#Tags-<?php echo $result->id ?>" title="View Subjects">
                     <?php  $tags   = $DB->execute("SELECT t. * , s. * FROM subjects s JOIN tags t ON t.subject_id = s.id AND student_id = $result->id") ?>
                     (<?php echo $DB->numRows($tags) ?>)
                     </a>
                     
                     <div class="row">
                     
                        <div class="col-md-6 col-md-offset-3">
                           <div id="Tags-<?php echo $result->id ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal">
                              <div class="modal-header">
                                 <h3 id="myModalLabel">

                                       <span class="close pull-right" data-dismiss="modal"><i class="fa fa-times"></i></span> Subjects
                                 </h3>
                                 
                                    <hr />
                                    
                                    <p>
                                       <?php while($row = $DB->fetchObject($tags)) { ?>
                                        <span class="label label-warning"><i class="fa fa-tag"></i> <?php echo $row->title ?></span>
                                       <?php } ?>
                                    </p>

                              </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </td>
                  <td class="tools">
                     <?php if($result->status == 0) { ?>
                     <a href="?cmd=students&amp;action=off&amp;id=<?=$result->id?>" title="Turn Off">
                        <i class="fa fa-star stats-gold"></i>
                     </a>
                     <?php } else { ?>
                     <a href="?cmd=students&amp;action=on&amp;id=<?=$result->id?>" title="Turn On">
                        <i class="fa fa-star"></i>
                     </a>
                     <?php } ?>
                     <a href="?cmd=students&amp;action=del&amp;id=<?=$result->id?>" title="Trash">
                        <i class="fa fa-trash-o"></i>
                     </a>
                     <a href="?cmd=students&amp;action=edit&amp;id=<?=$result->id?>" title="Edit">
                        <i class="fa fa-pencil"></i>
                     </a>
                  </td>
               </tr>
               <?php } ?>
            </tbody>
         </table>
         
         <hr />

            <ul class="pagination pagination-sm">
                 <?php for($i = 1; $i <= $total; $i++) { ?>
                 <?php if($i == $p) { ?>
               <li class="active"><a href="?cmd=students&amp;p=<?php echo $i?>" title="<?php echo $i?>"><?php echo $i?></a></li>
                <?php } else {  ?>
               <li><a href="?cmd=students&amp;p=<?php echo $i?>" title="<?php echo $i?>"><?php echo $i?></a></li>
                <?php } ?>
                <?php } ?>
            </ul>

      </div>
      
   </div>
</div>