<div class="container">
   <div class="row">
   
      <div class="col-md-12">

         <?php if(isset($_GET['e']) AND @$_GET['e'] == 1) { ?>
         <p class="message">
                Subject is already existed. 
         </p>
         <?php } ?>
         
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 2) { ?>
         <p class="message message-success">
                Subject has been successfully added.
         </p>
         <?php } ?>
         
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 3) { ?>
         <p class="message message-success">
            Subject has been successfully deleted.
         </p>
         <?php } ?>
         
         <h3>
            <i class="fa fa-tags"></i> All subjects 
         </h3>
         
         <hr />
         
         <table class="table table-condensed table-hover">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Added</th>
                  <th></th>
               </tr>
            </thead>
            
            <tbody>
               <?php while($result = $DB->fetchObject($query)){ ?>
               <tr>
                  <td>
                     
                     <i class="fa fa-check-square-o"></i> <?php echo $result->title?>
                  </td>
                  <td><?php echo humain_date($result->date) ?> ago</td>
                  <td class="tools">
                     <?php if($result->status == 0) { ?>
                     <a href="?cmd=subjects&amp;action=off&amp;id=<?=$result->id?>" title="Turn Off">
                        <i class="fa fa-heart-o stats-gold"></i>
                     </a>
                     <?php } else { ?>
                     <a href="?cmd=subjects&amp;action=on&amp;id=<?=$result->id?>" title="Turn On">
                        <i class="fa fa-heart"></i>
                     </a>
                     <?php } ?>
                     <a href="?cmd=subjects&amp;action=del&amp;id=<?=$result->id?>" title="Trash">
                        <i class="fa fa-trash-o"></i>
                     </a>
                     <a href="?cmd=subjects&amp;action=edit&amp;id=<?=$result->id?>" title="Edit">
                        <i class="fa fa-pencil"></i>
                     </a>
                  </td>
               </tr>
               <?php } ?>
            </tbody>
         </table>
         
         <hr />

      </div>
      
   </div>
</div>