<div class="container">
   <div class="row">
   
      <div class="col-md-4">
      
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 0) { ?>
         <p class="message message-white">
            All fields must be filled in.
         </p>
         <?php } ?>
         
         <h3>
            <i class="fa fa-tags"></i> Edit Subject 
         </h3>
         
               <form role="form" method="post" action="?cmd=subjects&amp;action=edited" class="widget">
                  <input type="hidden" name="id" value="<?php echo $result->id?>">
                  
                  <div class="form-group">
                     <label>Subject Title </label>
                     <input type="text" name="title" class="form-control" value="<?php echo $result->title?>">
                  </div>

                  
            <input type="submit" value="Update Now" class="btn btn-danger pull-right">
         </form>
         
      </div>
      
   </div>
</div>
