<div class="container">
   <div class="row">
   
      <div class="col-md-4">
      
         <?php if(isset($_GET['e']) AND @$_GET['e'] == 0) { ?>
         <p class="message message-white">
            All fields must be filled in.
         </p>
         <?php } ?>
         
         <h3>
            <i class="fa fa-tag"></i> New Subject 
         </h3>
         
         <form method="post" role="form" action="?cmd=subjects&amp;action=save" class="widget">
            
            <div class="form-group">
               <label>Subject Title </label>
               <input type="text" name="title" class="form-control">
            </div>
            <input type="submit" value="Add Now" class="btn btn-danger pull-right">
         </form>
         
      </div>
      
   </div>
</div>

