

<div class="container">
   <div class="row">
      <div class="col-md-12">
     
      <h3><i class="fa fa-credit-card"></i> Information</h3>
      
      <div class="widget">
      <table class="table table-hover">
         <tbody>
   
            <tr>
               <td style="border: none">Name</td>
               <td class="stats-gray" style="border: none"><?php echo $result->username ?></td>
            </tr>
            <tr>
               <td>Email</td>
               <td class="stats-gray"><?php echo $result->email ?></td>
            </tr>
            <tr>
               <td>Date</td>
               <td class="stats-gray"><?php echo humain_date($result->date) ?></td>
            </tr>
            <tr>
               <td>Status</td>
               <td><i class="fa fa-certificate stats-gold" title="active"></i></td>
            </tr>
            <tr>
               <td>Role</td>
               <td class="stats-gray">User</td>
            </tr>
         </tbody>
      </table>
      </div>
      
      <h3 style="margin-top: 40px"><i class="fa fa-tags"></i> Subjects </h3>

      <div class="tags">
         <?php while($row = $DB->fetchObject($tags)) { ?>
         <p id="<?php echo $row->id ?>" class="tag-item">
            <a href="#" id="<?php echo $row->id ?>" class="delete-tag" title="Delete <?=$row->title?>">
                    <?php echo $row->title ?>  <i class="fa fa-times-circle"></i> 
            </a>
         </p>
         <?php } ?>
      </div>
    
      </div>
   </div>
</div>
</div>

