<?php $cmd = @$_GET['cmd'] ?>
<?php $super_user_id = $_SESSION['super_user_id'] ?>

<nav class="navbar navbar-inverse navbar-user" role="navigation">
   <div class="navbar-header">
   
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="<?php echo app_url?>" title="<?php echo $_SESSION['super_username']?>">
            <img class="gravatar" src="<?php echo get_gravatar($_SESSION['super_email'])?>" alt="<?php echo $_SESSION['super_username']?>" style="width: 30px"> <span><?php echo $_SESSION['super_username'] ?></span>
      </a>
      
   </div>
      
   <div class="collapse navbar-collapse">
   <ul class="nav navbar-nav navbar-right">
      <li class="divider-vertical"></li>

      <li>
         <a href="#" data-toggle="modal" data-target="#Tags" title="Add Subject">
                <i class="fa fa-plus"></i> Add Subject
         </a>
         
         <div id="Tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal" style="background:#fff">
         
         <div class="modal-header">
            <h4><span class="close pull-right" data-dismiss="modal"><i class="fa fa-times"></i></span>  
               List of Subjects
            </h4>
         </div>
         
         <div class="modal-header">
         
            <?php $tags = $DB->execute("SELECT * FROM subjects WHERE id NOT IN (SELECT subject_id FROM tags)") ?>
            <?php if($DB->numRows($tags) == 0) { ?>
             <p class="message">You have added all subjects</p>
            <?php } else { ?>    
            
            <form method="post" action="index.php?cmd=tags" role="form">
                           
            <div class="form-group">
            
               <select name="tags[]" data-placeholder="Select one or more subject" multiple class="chosen-select form-control">
                  <option value=""></option>
                 
                      <?php while($row = $DB->fetchObject($tags)) { ?>
                      <option value="<?php echo $row->id?>"><?php echo $row->title ?></option>
                      <?php } ?>
               </select>
               
            </div>

              <input type="submit" value="Add" class="btn btn-success" />
         
            </form>
            <?php } ?>
            
         </div>
         <div>
      </li>

      <li>
      <a href="?cmd=logout" title="Logout"><i class="fa fa-power-off"></i> Logout</a>
      </li>
   </ul>
   </div>
</nav>
   <script src="<?php echo app_url?>js/chosen.jquery.js"></script>
   <script type="text/javascript">
      var config = {
        '.chosen-select'           : {width: '200px'},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      
      }
      for (var selector in config) {
        $(selector).chosen(config[selector]);
      }
   </script>
